.person__image {  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

.person__image--roberta {
  background-image: url('../../img/pessoas/roberta.jpg');
}

.person__image--marcela {
  background-image: url('../../img/pessoas/marcela.jpg');
}

.person__image--andreia {
  background-image: url('../../img/pessoas/andreia.jpg');
}