
.carrosel__title {
  position: absolute;
  font-family: Pacifico, cursive;
  font-style: normal;
  font-weight: normal;  
  left: 50%;
  text-shadow: 0 4px 4px rgba(0,0,0,0.75);
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fdfdfd;
}

@media screen and (min-width: 0) {
  .carrosel__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .carrosel__title {
    font-size: 5.0625rem;
  }
}